@*<a class="dashboardLink" ng-href="#/admin{{module.url}}" ng-repeat="module in vm.modules">
   <div class="adminDashboardItem">
      {{module.moduleName}}
      <div class="glyphicon {{module.icon}} adminIcon"></div>
   </div>
</a>*@