<div class="panel panel-default" ng-controller="ts.views.persons.persons as vm">

   <div class="panel-heading" style="position: relative;">
      <div class="row">

         <!-- Title -->
         <h3 class="panel-title col-xs-6">
            @L("Persons")
         </h3>
      </div>
   </div>

   <!-- Task list -->
   <ul class="list-group" ng-repeat="person in vm.people">
      <div class="list-group-item">
            <span class="task-assignedto">{{person.Name}}</span>
      </div>
   </ul>

</div>