@*<div ng-include="'/App/Main/views/layout/header.cshtml'"></div>*@


<div class="panel panel-default" ng-controller="ts.views.persons.persons as vm">

   <div class="panel-heading" style="position: relative;">
      <div class="row">

         <!-- Title -->
         <h3 class="panel-title col-xs-6">
            @L("Persons")
         </h3>
      </div>
   </div>

   <!-- Task list -->
   <ul class="list-group taskList" ng-repeat="person in vm.people">
      <div class="list-group-item person">
         <span class="task-assignedto">[{{person.gender}}] {{person.job}}, {{person.firstName}} {{person.lastName}}</span>
         <span class="task-assignedto">{{person.emailAddress}}</span>
         @*<a class="pull-right" ng-click="vm.removePerson(person.id)">Delete Person</a>*@
         <a class="pull-right task-state-icon glyphicon glyphicon-remove personIcon" style="color:red" ng-click="vm.removePerson(person.id)"></a>
         <a class="pull-right task-state-icon glyphicon glyphicon-pencil personIcon" ng-href="#newperson/{{person.id}}"></a>
      </div>
   </ul>
</div>
