/* Application specific styles */
body {
  padding-top: 80px;
}
/* Styles for angular ui transition animations */
/*.angular-animation-container {
  position: inherit;
}
.shuffle-animation.ng-enter,
.shuffle-animation.ng-leave {
  position: initial;
}*/
.shuffle-animation.ng-enter {
  -moz-transition: ease-out all 0.3s 0.4s;
  -o-transition: ease-out all 0.3s 0.4s;
  -webkit-transition: ease-out all 0.3s 0.4s;
  transition: ease-out all 0.3s 0.4s;
  right: 5em;
  opacity: 0;
}
.shuffle-animation.ng-enter.ng-enter-active {
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave {
  -moz-transition: ease-out;
  -o-transition: ease-out;
  -webkit-transition: ease-out;
  transition: ease-out;
  left: 0;
  opacity: 1;
}
.shuffle-animation.ng-leave.ng-leave-active {
  left: 2em;
  opacity: 0;
}
