body {
   background-color: #3a3b40;
   color: white;
}

select {
   color: black;
}

.glypicon {
   pointer-events: all;
   padding: 5px;
}

.icon {
   padding: 5px;
   margin: 5px;
   font-size: 20px;
   color: #2b2853;
}

   .icon:hover {
      text-decoration: none;
      cursor: pointer;
      color: #434068;
   }

.personIcon {
   color: #2b2853;
   padding: 2px;
   margin: 2px;
   font-size: 16px;
}

   .personIcon:hover {
      text-decoration: none;
      cursor: pointer;
      color: #434068;
   }

.panel-title {
   font-size: 20px;
   font-weight: bolder;
}

hr {
   margin-top: 4px;
   margin-bottom: 8px;
   border: 0;
   border-top: 1px solid #686b75;
}

.form-control[readonly] {
   background-color: inherit;
   cursor: default;
   border: 1px solid #3a3b40;
   border-radius: 10px;
}

.disabledTextarea {
   background-color: inherit;
   resize: none;
}


/*Navbar stuff*/

.navbar-inverse {
   background-color: #1f1e2e;
   border: 1px solid #2d4e64;
}

   .navbar-inverse .navbar-nav > li > a {
      color: #70edff;
   }

   .navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
      color: #d1fbff;
      background-color: #2d4e64;
   }

   .navbar-inverse .navbar-nav > li > a:hover {
      transition: linear all 0.5s;
      background-color: #506a7a;
   }

   .navbar-inverse .navbar-nav > li > a:focus {
      background-color: #1f1e2e;
      color: #70edff;
   }

   .navbar-inverse .navbar-brand {
      color: #d1fbff;
   }

/*Tasks*/

.complete {
   background-color: #4af875;
   border: 1px solid black;
}

.inprogress {
   background-color: #ffbe23;
   border: 1px solid black;
}

.active {
   background-color: #dedede;
   border: 1px solid black;
}

.person {
   background-color: #70edff;
   border: 1px solid black;
}

.taskList {
   padding: 5px;
   background-color: #686b75;
   color: #1f1e2e;
   /*border: 1px solid black;*/
   border-bottom: 1px solid black;
}

.cite {
   font-style: italic;
}

.taskListHeading {
   padding: 15px;
}

.panel {
   background-color: #a5a5a5;
   border: 1px solid #000000;
   color: black;
}

.panel-default > .panel-heading {
   background-color: #1f1e2e;
   /*border: 1px solid #2d4e64;*/
   color: #70edff;
   border-bottom: 1px solid black;
}

.panel-heading + .list-group .list-group-item:first-child {
   border-top-width: 1px;
}

.panel > .list-group .list-group-item {
   border-width: 1px;
   border-radius: 8px;
}

.list-group-item:last-child {
   margin-bottom: 1px;
   border-bottom-right-radius: 1px;
   border-bottom-left-radius: 1px;
}

.list-group-item:first-child {
   border-top-right-radius: 1px;
   border-top-left-radius: 1px;
}

/*Admin stuff*/

.adminMenu {
   border: 1px solid #555555;
   height: 80%;
   display: inline-block;
   padding-left: 0px;
   padding-right: 0px;
   background-color: #262835;
   margin-top:5px;
}

.adminMenuItem {
   height: 40px;
   background-color: #373946;
   text-decoration: none;
   padding: 2px;
   margin: 8px;
   text-align: center;
   vertical-align: middle;
   color: white;
}

.adminMenuItem > a {
   color: #70edff;
   text-decoration: none;
}

.adminMenuItem:hover {
   background-color: #595b68;
   color: #d1fbff;
   text-decoration: none;
               transform: scale(1.05);
      transition: linear all 0.5s;
}

.adminMenuItem:hover > a {
   text-decoration: none;
}

.adminIcon > a {
   color: #d1fbff;
   text-decoration: none;
}

   .adminIcon > a:hover {
      text-decoration: none;
      color: #d1fbff;
   }

   .adminContent{
      background-color:#262835;
      padding:5px;
      margin:5px;
      border:1px solid #555555;
   }

 .adminDashboardItem{
    border:1px solid black;
    padding:4px;
    margin:4px;
    width:30%;
    height:100px;
    display:inline-block;
    vertical-align:central;
    text-align:center;
          background-color:#373946;
 }

.adminDashboardItem:hover{
      text-decoration: none;
      color: #f3fdff;
      background-color:#6a6c79;
      transform: scale(1.05);
      transition: linear all 0.5s;
 }

.adminDashboardItem:hover > a{
      text-decoration: none;
 }

.adminDashboardItem > .adminIcon{
      font-size:46px;
      display:block;
      margin-top:10px;
   }

.dashboardLink{
   color:inherit;
}

/*Game zo scherp, kan je met je verstand niet bij*/

.gamecanvas{
   width:760px;
   height:600px;
   border:1px solid white;
   padding:5px;
   margin:5px;
   background-color:black;
}